// .body{
//     margin:0;
//     padding:0;
//     height:100%;
// }
.custom-header{
    display: flex;
    justify-content: flex-start;
}

.custom-header-left{
    margin: 10px;
}

.custom-header-mid{
    //flex-grow: 10;
}

.custom-header-right{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin: 10px;
}

.custom-footer{
    border-top: 1px solid #DCDCDC;
    position: fixed; 
    bottom: 0;
    width: 100%;
    color:#999999;
    text-align: center;
    background-color: hsl(210,8%,97.5%);
}
.custom-footer > p {
    margin: 5px;
}