.custom-header{
    display: flex;
    justify-content: flex-start;
    position: sticky;
    top: 0px;
    z-index: 90;
    background-color: white;
}

.custom-header-left{
    margin: 10px;
}

.custom-header-mid{
    flex-grow: 1;
}

.custom-header-right{
    display: flex;
    flex-grow: 10;
    justify-content: flex-end;
    margin: 10px;
}

.custom-footer{
    border-top: 1px solid #DCDCDC;
    position: fixed; 
    bottom: 0;
    width: 100%;
    color:#999999;
    text-align: center;
    background-color: hsl(210,8%,97.5%);
}
.custom-footer > p {
    margin: 5px;
}