
.custom-body{
    // width：100%;
    // height:1000px;
    // max-width: 1260px;
    overflow: hidden;
    // margin: 0 100px;
}

.left-col{
    background-color: aliceblue;
    border-right: 1px solid #DCDCDC;
    width: 30%;
    height: 100%;
    position:fixed;
   
}

.left-col-content{
    display: flex;
    flex-direction: column;
    padding:10px 30px;
}

.right-col{
    background-color: aliceblue;
    height: 100%;
    width: 70%;
    margin: 0 0 0 30%;
}

.right-col-content{
  display: flex;
  flex-direction: column;
  padding:10px 30px 30px 30px;
  overflow: hidden;
  .count{
    color:#7d8185;
    align-self: flex-end;
  }

  .ant-pagination{
    margin: 16px 0;
    display: flex;
    justify-content: flex-end;
  }

}

